Tidy Data

## Multi-dimensional Data

In [36]:
import pandas as pd

data = {"Warehouse A": {"Customer 1": 254, "Customer 2": 173, "Customer 3": 330},
        "Warehouse B": {"Customer 1": 340, "Customer 2": 128, "Customer 3": 220},
        "Warehouse C": {"Customer 1": 430, "Customer 2": 250, "Customer 3": 225},
        "Warehouse D": {"Customer 1": 135, "Customer 2": 180, "Customer 3": 375}}

df = pd.DataFrame.from_dict(data).T
display(df)

             Customer 1  Customer 2  Customer 3
Warehouse A         254         173         330
Warehouse B         340         128         220
Warehouse C         430         250         225
Warehouse D         135         180         375

In [54]:
df_tidy = pd.melt(df.reset_index(), id_vars="index", value_vars=df.columns)
df_tidy.to_csv("tidy.csv", index=False)

display(df_tidy)

          index    variable  value
0   Warehouse A  Customer 1    254
1   Warehouse B  Customer 1    340
2   Warehouse C  Customer 1    430
3   Warehouse D  Customer 1    135
4   Warehouse A  Customer 2    173
5   Warehouse B  Customer 2    128
6   Warehouse C  Customer 2    250
7   Warehouse D  Customer 2    180
8   Warehouse A  Customer 3    330
9   Warehouse B  Customer 3    220
10  Warehouse C  Customer 3    225
11  Warehouse D  Customer 3    375

In [59]:
import pyomo.environ as pyo

df_read = pd.read_csv("tidy.csv")

warehouses = sorted(set(df_tidy["index"]))
customers = sorted(set(df_tidy["variable"]))
df_read

          index    variable  value
0   Warehouse A  Customer 1    254
1   Warehouse B  Customer 1    340
2   Warehouse C  Customer 1    430
3   Warehouse D  Customer 1    135
4   Warehouse A  Customer 2    173
5   Warehouse B  Customer 2    128
6   Warehouse C  Customer 2    250
7   Warehouse D  Customer 2    180
8   Warehouse A  Customer 3    330
9   Warehouse B  Customer 3    220
10  Warehouse C  Customer 3    225
11  Warehouse D  Customer 3    375

In [76]:
import pyomo.environ as pyo

m = pyo.ConcreteModel()

m.warehouses = sorted(set(df_tidy["index"]))
m.customers = sorted(set(df_tidy["variable"]))

df_pivot = df_read.pivot(index="index", columns="variable", values="value")

s
m.p = pyo.Param(m.warehouses, m.customers, initialize=lambda m, w, c: df_pivot[w, c])

ERROR: Rule failed for Param 'p' with index ('Warehouse A', 'Customer 1'):
    KeyError: ('Warehouse A', 'Customer 1')
ERROR: Constructing component 'p' from data=None failed: KeyError: ('Warehouse
    A', 'Customer 1')

KeyError: ('Warehouse A', 'Customer 1')

In [73]:
df =

variable     Customer 1  Customer 2  Customer 3
index
Warehouse A         254         173         330
Warehouse B         340         128         220
Warehouse C         430         250         225
Warehouse D         135         180         375